<h1><%= link_to "Твіти", tweets_path%></h1>
<table>
	<tr>
		<th>Статус</th>
		<th>Зомбі</th>
	</tr>
	<% tweets = Tweet.all %>
<% tweets.each do |tweet| %>	
 	<tr>
	  <td><%= link_to tweet.status, tweet %></td>
	  <td><%= link_to tweet.zombie.name, tweet.zombie %></td>
	  <td><%= link_to "Редагувати", edit_tweet_path(tweet) %></td>
	  <td><%= link_to "Видалити", tweet, method: :delete, data: {confirm: "Видалити твіт?"}%></td> 
	</tr>
<% end %>
<% if tweets.size == 0 %>
<em>Не знайдено жодного твіта</em>
<% end %>
</table>
	<%= link_to '<button type="button">Новий твіт</button>'.html_safe, new_tweet_path %>
	
