

<table>
	<tr>
		<th><h2>Зомбі</h2></th>
	</tr>
	<% zombies = Zombie.all %>
<% zombies.each do |zombie| %>	
 	<tr>
	  <td><%= link_to zombie.name, zombie %></td>

	</tr>
<% end %>
<% if zombies.size == 0 %>
<em>Не знайдено жодного зомбі</em>
<% end %>
</table>
	