
<h2><%= @zombie.name %></h2>
<table>
	<tr>
		<th>Статус</th>
	</tr>
	
	<% tweets = @zombie.tweets %>
<% tweets.each do |tweet| %>	
 	<tr>
	  <td><%= link_to tweet.status, tweet %></td>
	  <td><%= link_to "Ред", edit_tweet_path(tweet) %></td>
	  <td><%= link_to "Вид", tweet, method: :delete, data: {confirm: "Видалити твіт?"} %></td> 
	</tr>
<% end %>
</table>
<p>Кількість твітів: <%= @zombie.tweets.count%></p>
<%= link_to "назад", tweets_path %>