<header class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
   <h1><%= link_to "Zoombie Tweetr", tweets_path, id: "logo" %></h1>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>