<!DOCTYPE html>
<html>
<head>
  <title>Зомбі твіттер</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice]%>
<div id="notice"><%= flash[:notice ]%></div>
<% end %>
<%= render 'layouts/header'%>

<%= yield %>

</body>
</html>
